body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: background for better contrast */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
}

.logo {
    height: 100px;
    filter: invert(1); /* Invert logo colors */
}

.container {
    text-align: center;
    position: relative;
    margin-top: 120px; /* Adjust this value based on header height */
}

.intro {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    position: fixed; /* Position it absolutely */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    height: calc(100vh - 120px); /* Full viewport height minus header height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    margin-bottom: 20px; /* Space between text and button */
}

.book-now-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.book-now-btn:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

main {
    position: relative;
    z-index: 10;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}



header {
    position: relative;
    padding: 10px 20px;
}

